[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	editor = nvim
[remote "origin"]
	url = https://github.com/corbgarza/dotfiles
	fetch = +refs/heads/*:refs/remotes/origin/*
	pushurl = git@github.com:corbgarza/dotfiles.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
[user]
	name = corbgarza
	email = garza20@protonmail.com
[alias]
	aa = add -A
	com = commit -a -m "update"
	pl = pull --rebase
	st = status
