@import "~/.cache/wal/colors-rofi-dark"
configuration {
	combi-modi: "drun,Custom:~/.config/rofi/rofiScripts.sh";
	font: "MesloLGS NF 14";
	show-icons: true;
	terminal: "kitty";
	case-sensitive: false;
}

